<?js
    var params = obj;

    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        var paramRegExp;

        if (!param) {
            return;
        }

        if (parentParam && parentParam.name && param.name) {
            try {
                paramRegExp = new RegExp('^(?:' + parentParam.name + '(?:\\[\\])*)\\.(.+)$');
            }
            catch (e) {
                // there's probably a typo in the JSDoc comment that resulted in a weird
                // parameter name
                return;
            }

            if ( paramRegExp.test(param.name) ) {
                param.name = RegExp.$1;
                parentParam.subparams = parentParam.subparams || [];
                parentParam.subparams.push(param);
                params[i] = null;
            }
            else {
                parentParam = param;
            }
        }
        else {
            parentParam = param;
        }
    });

    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;

    params.forEach(function(param) {
        if (!param) { return; }

        if (param.optional || param.nullable || param.variable) {
            params.hasAttributes = true;
        }

        if (param.name) {
            params.hasName = true;
        }

        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });
?>

<ul class="properties-list">
    <?js
        var self = this;
        params.forEach(function(param) {
            if (!param) { return; }
    ?>
        <li>
            <div class="property-item"><?js if (params.hasName) {?><span class="property-name"><?js= param.name ?></span><?js } ?> <?js if (param.type && param.type.names) {?><span class="property-type">(<?js= param.type.names.join(' | ') ?>)</span><?js } ?><?js if (param.optional) { ?><span class="property-type">?</span><?js } ?><?js if (param.description) { ?><span class="property-description">: <?js= param.description ?></span><?js } ?><?js if (typeof param.defaultvalue !== 'undefined') { ?><span class="property-description"> (default: <?js= self.htmlsafe(param.defaultvalue) ?>)</span><?js } ?></div>
            <?js if (param.subparams) { ?>
                <ul class="properties-list" style="margin-left: 2rem; margin-top: 0.5rem;">
                    <?js= self.partial('params.tmpl', param.subparams) ?>
                </ul>
            <?js } ?>
        </li>
    <?js }); ?>
</ul>
