<?js
    var data = obj;
    var props = data.subprops || data.properties;

    /* sort subprops under their parent props (like opts.classname) */
    var parentProp = null;
    props.forEach(function(prop, i) {
        if (!prop) { return; }
        if ( parentProp && prop.name && prop.name.indexOf(parentProp.name + '.') === 0 ) {
            prop.name = prop.name.substr(parentProp.name.length+1);
            parentProp.subprops = parentProp.subprops || [];
            parentProp.subprops.push(prop);
            props[i] = null;
        }
        else {
            parentProp = prop;
        }
    });

    /* determine if we need extra columns, "attributes" and "default" */
    props.hasAttributes = false;
    props.hasDefault = false;
    props.hasName = false;

    props.forEach(function(prop) {
        if (!prop) { return; }

        if (prop.optional || prop.nullable) {
            props.hasAttributes = true;
        }

        if (prop.name) {
            props.hasName = true;
        }

        if (typeof prop.defaultvalue !== 'undefined' && !data.isEnum) {
            props.hasDefault = true;
        }
    });
?>

<ul class="properties-list">
    <?js
        var self = this;
        props.forEach(function(prop) {
            if (!prop) { return; }
    ?>
        <li>
            <div class="property-item"><?js if (props.hasName) {?><span class="property-name"><?js= prop.name ?></span><?js } ?> <?js if (prop.type && prop.type.names) {?><span class="property-type">(<?js= prop.type.names.join(' | ') ?>)</span><?js } ?><?js if (prop.optional) { ?><span class="property-type">?</span><?js } ?><?js if (prop.description) { ?><span class="property-description">: <?js= prop.description ?></span><?js } ?><?js if (typeof prop.defaultvalue !== 'undefined') { ?><span class="property-description"> (default: <?js= self.htmlsafe(prop.defaultvalue) ?>)</span><?js } ?></div>
            <?js if (prop.subprops) { ?>
                <ul class="properties-list" style="margin-left: 2rem; margin-top: 0.5rem;">
                    <?js= self.partial('properties.tmpl', prop) ?>
                </ul>
            <?js } ?>
        </li>
    <?js }); ?>
</ul>
